.mat-card-live{
    border: 1px solid #CFD8DC;
    border-radius: 4px 3px 6px / 2px 4px;
    padding-top: 15px;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    margin: 3px;
}

.mat-card-title-live{
    padding-top: 0px;
    padding-left: 0%;
    padding-right: 15%;
    margin-bottom: 0%;
    min-height: 70px;
}

.mat-chip-date{
    background-color: darkcyan;
    color: black;
    font-size: small;
}